<% @user.attributes.delete_if { |attr| attr == "encrypted_password" }.each do |(a, b)| %>
<p><strong><%= a %>:</strong> <%= b %></p>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
