body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  display: inline;
  label {
    background: #F00;
    padding: 3px;
    margin: 3px;
    line-height: 28px;
    color: #FFF;
  }
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

#wrapper {

}

#menu {
  width: 600px;
  margin: 0 auto;
}

#main {
  width: 600px;
  margin: 5px auto;
  padding: 20px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .35);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .35);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,.35);
  background: #FFF;
  background: -webkit-gradient(linear, 0% 0%, 0% 20%, from(#F2F2F2), to(#FFF));
  background: -moz-linear-gradient(#F2F2F2, #FFF 20%);
  background: -o-linear-gradient(#F2F2F2, #FFF 20%);
  border: 1px solid;
  border-color: #E5E5E5 #DBDBDB #D2D2D2;
}

input, textarea {
  font-size: 14px;
}

input[type=submit], input[type=button], select {
  font-size: 16px;
}
