body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  cursor: pointer;
  outline: none;
  text-decoration: none;
}

a.link {
  color: #1177ee;
  &:hover, &.current {
    background: #1177ee;
    color: #fff;
  }
}

.required {
  color: red;
}

div {
  &.field {
    margin-bottom: 10px;
  }
  &.actions {
    margin-bottom: 10px;
    line-height: 33px;
    min-height: 32px;
  }
}

#notice {
  width: 300px;
  margin: 5px auto;
  text-align: center;
  background: #2CDB00;
  border: 1px solid #1E4B00;
  padding: 2px 8px;
  border-radius: 5px;
  box-shadow: 0 0 6px 0px #666;
}

#alert {
  width: 300px;
  margin: 5px auto;
  text-align: center;
  background: #F7F700;
  border: 1px solid #797400;
  padding: 2px 8px;
  border-radius: 5px;
  box-shadow: 0 0 6px 0px #666;
}

.field_with_errors {
  display: inline;
  label {
    background: #F00;
    padding: 3px;
    margin: 3px;
    line-height: 28px;
    color: #FFF;
  }
  input[type=text], input[type=password], input[type=email], textarea {
    background: #FFF5F5;
  }
}

#error_explanation {
  width: 450px;
  background-color: #FFF5F5;
  margin: 10px 0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    background-color: #FFD3D3;
    color: #C00;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-left: 1px solid #C00;
    border-top: 1px solid #C00;
    border-right: 1px solid #C00;
    margin: 0;
  }
  ul {
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
    border-left: 1px solid #C00;
    border-bottom: 1px solid #C00;
    border-right: 1px solid #C00;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

#wrapper {
  position: relative;
}

$width: 800px;

#menu {
  position: absolute;
  z-index: 1;
  width: $width;
  left: 50%;
  top: 2px;
  margin-left: -$width/2;
  text-align: center;
  a.link {
    margin: 0 4px;
  }
  a.link.current {
    background: #F3F3F3;
    color: #000;
    padding: 3px;
    border: 1px solid #E5E5E5;
    box-shadow: 0px 3px 2px 0px #000;
  }
}

#context {
  position: absolute;
  z-index: 10;
  width: $width;
  left: 50%;
  top: 22px;
  margin-left: -$width/2;
}

#main {
  margin-bottom: 20px;
  padding: 10px 20px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .35);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .35);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,.35);
  background: #FFF;
  background: -webkit-gradient(linear, 0% 0%, 0% 20%, from(#F2F2F2), to(#FFF));
  background: -moz-linear-gradient(#F2F2F2, #FFF 20%);
  background: -o-linear-gradient(#F2F2F2, #FFF 20%);
  border: 1px solid;
  border-color: #E5E5E5 #DBDBDB #D2D2D2;
  h1 {
    border-bottom: 1px solid #CCC;
    padding: 10px 0;
    margin: 0 0 10px 0;
    font-size: 22px;
  }
}

input, textarea {
  font-size: 14px;
}

label {
  padding: 3px;
  line-height: 28px;
  cursor: pointer;
}

// http://www.icondeposit.com/code:3

$shadow: 0px 2px 2px rgba(0,0,0,0.027), inset 0px 1px 0px rgba(255,255,255,0.69), inset 0px -1px 0px rgba(0,0,0,0.0187), inset 0px 15px 14px rgba(255,255,255,0.57);
$shadow2: 0px 2px 2px rgba(0,0,0,0.027), inset 0px 1px 0px rgba(255,255,255,0.69), inset 0px -1px 0px rgba(0,0,0,0.0187), inset 0px 15px 14px rgba(255,255,255,0.75);
$shadow3: 0px 1px 0px rgba(255,255,255,0.58), inset 0px 1px 6px rgba(0,0,0,0.07), inset 0px -15px 14px rgba(255,255,255,0.20);

input[type=text], input[type=password], input[type=email], textarea {
  $input_text_shadow: 0px 1px 0px rgba(255,255,255,0.58), inset 0px 0px 6px rgba(0,0,0,0.07);

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
  margin: 0;
  padding: 5px 35px 5px 5px;
  outline: none;
  color: #6F6F6F;
  background: #fafafa;
  border: 1px solid #d2d2d2;
  border-bottom: 1px solid #d8d8d8;
  border-radius: 3px;
  -webkit-box-shadow: $input_text_shadow;
  -moz-box-shadow: $input_text_shadow;
  -o-box-shadow: $input_text_shadow;
  box-shadow: $input_text_shadow;
  &:focus {
    background: #fff;
    color: #000;
    border: 1px solid #d2d2d2;
    border-bottom: 1px solid #d8d8d8;
  }
}

input[type=submit], input[type=button], .button_link {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  position: relative;
  display: inline;
  color: #666;
  text-shadow: 0px 1px 0px rgba(255,255,255,0.59);
  background: #ececec;
  padding: 7px 20px 7px 20px;
  outline: none;
  border: 1px solid #d8d8d8;
  border-bottom: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
  overflow: visible;
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  -o-box-shadow: $shadow;
  box-shadow: $shadow;
  &:hover {
    color: #888;
    text-shadow: 0px 1px 0px rgba(255,255,255,0.69);
    -webkit-box-shadow: $shadow2;
    -moz-box-shadow: $shadow2;
    -o-box-shadow: $shadow2;
    box-shadow: $shadow2;
  }
  &:active {
    color: #696969;
    text-shadow: 0px 1px 0px rgba(255,255,255,0.53);
    border: 1px solid #d2d2d2;
    border-bottom: 1px solid #d8d8d8;
    border-radius: 3px;
    -webkit-box-shadow: $shadow3;
    -moz-box-shadow: $shadow3;
    -o-box-shadow: $shadow3;
    box-shadow: $shadow3;
  }
  &:disabled, &.disabled {
    cursor: default;
    color: #ccc;
    &:hover {
      text-shadow: 0px 1px 0px rgba(255,255,255,0.69);
      -webkit-box-shadow: $shadow;
      -moz-box-shadow: $shadow;
      -o-box-shadow: $shadow;
      box-shadow: $shadow;
    }
  }
}

.button_link {
  display: inline;
  position: relative;
  width: auto;
  height: auto;
  padding: 8px 10px 8px 10px;
}

select {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-appearance: button;
  -webkit-user-select: none;
  font-size: 13px;
  overflow: visible;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #666;
  text-shadow: 0px 1px 0px rgba(255,255,255,0.59);
  display: inline;
  position: relative;
  margin: 0px 1px 0px 1px;
  width: auto;
  height: auto;
  background: #ececec url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB8AAAAfCAYAAAAfrhY5AAAAoklEQVR42u2VMQrEIBBF9yaxUSEQzBWE2EpsFW/k0RJjsgdy9xfpdltdlik+jz/NQ5HxUWvtFpKTnOQk/135MAzPLnLG2PlOAZvKOedFCJGllBlEbyIfx/GapulQSu3zPG8gOuYtTp6+5b9fu9b6WpblNMaUO+iYN7l2a+2xrmt2zmUQveW1J+/9HkLYQPTWSybFGDPYa70m+lhITnKSk/xTXht9EDLM3vrzAAAAAElFTkSuQmCC') center right no-repeat;
  padding: 5px 70px 5px 13px;
  outline: none;
  border: 1px solid #d8d8d8;
  border-bottom: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  -o-box-shadow: $shadow;
  box-shadow: $shadow;
  &:hover {
    color: #888;
    text-shadow: 0px 1px 0px rgba(255,255,255,0.69);
    -webkit-box-shadow: $shadow2;
    -moz-box-shadow: $shadow2;
    -o-box-shadow: $shadow2;
    box-shadow: $shadow2;
  }
  &:active {
    color: #696969;
    text-shadow: 0px 1px 0px rgba(255,255,255,0.53);
    border: 1px solid #d2d2d2;
    border-bottom: 1px solid #d8d8d8;
    -webkit-box-shadow: $shadow3;
    -moz-box-shadow: $shadow3;
    -o-box-shadow: $shadow3;
    box-shadow: $shadow3;
  }
  option {
    color: #666;
    background: #f9f9f9;
  }
}

input[type=checkbox] {
  cursor: pointer;
  margin: 0;
  -webkit-appearance: none;
  -webkit-margin-start: 0;
  -webkit-margin-end: 3px;
  display: inline-block;
  height: 14px;
  position: relative;
  vertical-align: baseline;
  width: 14px;
  background: #ececec;
  border-radius: 3px;
  border: 1px solid #d8d8d8;
  border-bottom: 1px solid #ccc;
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  -o-box-shadow: $shadow;
  box-shadow: $shadow;
  &:hover {
    color: #888;
    text-shadow: 0px 1px 0px rgba(255,255,255,0.69);
    -webkit-box-shadow: $shadow2;
    -moz-box-shadow: $shadow2;
    -o-box-shadow: $shadow2;
    box-shadow: $shadow2;
  }
  &:active {
    color: #696969;
    text-shadow: 0px 1px 0px rgba(255,255,255,0.53);
    border: 1px solid #d2d2d2;
    border-bottom: 1px solid #d8d8d8;
    -webkit-box-shadow: $shadow3;
    -moz-box-shadow: $shadow3;
    -o-box-shadow: $shadow3;
    box-shadow: $shadow3;
  }
  &:checked::before {
    -webkit-margin-start: 0;
    content: '';
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    height: 12px;
    left: 0;
    margin-top: 0;
    opacity: 1;
    position: absolute;
    top: 0;
    vertical-align: top;
    width: 12px;
    background: transparent url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAAuklEQVR42sWSLwvCQBiHLZoWrq1cOazrN+4bHIsXlcMTTMaBxQ9xxSIr6xavGNYtQ0QQBO0iDA5Wls93X2DsFDE88L7h4cf7Z+Cc+4jfigghDMy9RULItqqq1EsMw3CitT5AHfQWIQnHcXxsmmbZOWMURRjYAMO2p5TujDEnqEedohBinSTJlTGWQ9JMSnmGtEWfra7KsnwppS6c83tRFLc2re85ptbaZ5Zlj7quU987joE9EHz9Of8X355tLNXjhHrJAAAAAElFTkSuQmCC') -1px -0px no-repeat;
  }
}

.separator {
  background: #efefef url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAECAYAAACtBE5DAAAAHUlEQVR42q3IoREAAACCQHdy/91IFrLcfSGqc5wAdFYCZQo/LFUAAAAASUVORK5CYII=') repeat-x 0 0;
  height: 4px;
  overflow: hidden;
  padding: 0;
  margin: 15px 0;
}

table.list {
  border-spacing: 0;
  width: 100%;
  thead {
    font-size: 12px;
  }
  th {
    text-align: left;
  }
  th.id, td.id {
    text-align: center;
    padding: 0 5px;
  }
  th.cb, td.cb {
    padding: 0 0 0 5px;
  }
  td.name {
    width: 90px;
  }
  td.date {
    width: 90px;
  }
  td.title {
    width: 130px;
  }
  td.visible_to, td.list_actions {
    white-space: nowrap;
  }
  tr.msgcb {
    cursor: pointer;
    &.checked {
      background: #ff0;
    }
  }
  thead tr {
    height: 30px;
  }
  tbody tr {
    height: 40px;
  }
  td {
    padding: 0 10px 0 0;
  }
}

div.pagination {
  line-height: 40px;
  margin: 20px 0 0;
  a {
    color: #666;
    text-shadow: 0px 1px 0px rgba(255,255,255,0.59);
    font-size: 12px;
    display: inline;
    position: relative;
    margin: 0px 1px 0px 1px;
    width: auto;
    height: auto;
    background: #ececec;
    padding: 6px 10px 6px 10px;
    outline: none;
    border: 1px solid #d8d8d8;
    border-bottom: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    -o-box-shadow: $shadow;
    box-shadow: $shadow;
  }
  a:hover {
    color: #888;
    text-shadow: 0px 1px 0px rgba(255,255,255,0.69);
    -webkit-box-shadow: $shadow2;
    -moz-box-shadow: $shadow2;
    -o-box-shadow: $shadow2;
    box-shadow: $shadow2;
  }
  a:active, a.current, a.disabled {
    color: #696969;
    text-shadow: 0px 1px 0px rgba(255,255,255,0.53);
    border: 1px solid #d2d2d2;
    border-bottom: 1px solid #d8d8d8;
    -webkit-box-shadow: $shadow3;
    -moz-box-shadow: $shadow3;
    -o-box-shadow: $shadow3;
    box-shadow: $shadow3;
  }
}
